.About{
    height: 40vh;
    width: 70vw;
    margin-top: 3%;
    border-radius: 10px;
    background-color: #71BCE1;
    display:flex;
}
.image{
    width: 30%;
    height: 90%;
    margin-top: 20px;
    margin-left: 20px;
    border-color: black;
}
.content{
    width: 65%;
    height: 90%;
    margin-top: 20px;
    margin-left: 20px;
    border-color: black;
}
.text{

    font-size: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
   }